* {
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #FFFFFF !important;
}
.banner {
    padding:50px 0px;
    background-color: #C8E6FF !important;
    background-image: url("../img/background-mobileapps.png");
    background-position: -250px -200px;
    background-repeat: no-repeat;
}
.navbar-nav{
    text-align: center;
}
.active {
    font-weight: 700;
}
.nav-link {
    margin-left: 20px;
    color: #133654!important;
}
ul li {
    list-style: none;
    margin-left: -25px;
}
.profile-container {
    background-color:#FFFFFF;
    text-align: center;
    padding: 30px 50px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 0px 60px 80px rgba(60, 165, 255, 0.25);
}
.profile-picture {
    margin-bottom: 8px;
}
.profile-name{
    font-weight: 700;
    color: #4A4A4A;
    font-size: 25px;
}
.profile-title {
    font-weight: 400;
    font-size:17px;
    color: #9b9b9b;
    margin-top:-10px;
}
.profile-bio, .footer-address {
    color: #4A4A4A;
    font-size:17px;
}
.btn-primary {
    background-color:#3CA5FF;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 100px;
    border-radius:12px;
}
.btn-primary:hover{
    background-color:#2e92eb;
}
.footer {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    padding-top:30px;
    padding-bottom:10px;
    text-align: center;
    z-index: 99;
    margin-top: -50px;
}
.footer-logo{
    margin-bottom:20px;
}
.footer-media li a {
    color: #4A4A4A;
    font-size: 25px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .banner{
        background-position: 700px -200px;
    }
    .profile-container{
        box-shadow: 0px 60px 80px rgba(0, 111, 200, 0.05);
    }
    ul li {
        text-align: left;
        margin-left: 20px;
    }
 }